<div class=" container p-3">
    <div class=" row pt-4">
        <div class="col-6">
            <h2 class=" text-primary"> Създаване на заявка</h2>
        </div>

    </div>
    <br>
    <div>
        <label style="padding-left: 10px;">Желан брой потребители</label>
        <input class="form-control " autocomplete="Брой търсени" aria-required="true" />
        <div class="form-group" style="padding-bottom: 20px;">
            <label>Град</label>
            <select class="form-control">
                <option value="F40854CE-7D63-46A4-BB60-07DDE1A4705E">Пловдив</option>
                <option value="72316B2D-31A5-4BA8-8609-13719F7CCE98">Велико Търново</option>
                <option value="3A4DD904-D3B8-4ADB-B6A6-4E42267C9683">София</option>
                <option value="D0E60734-F384-4CCB-B472-61E8E9629E48">Враца</option>
                <option value="00182E26-FD34-436A-988A-69A8CE6CEB16">Горна Оряховица</option>
                <option value="56393F6B-D016-4583-B536-726AD925ED8A">Левски</option>
                <option value="7AAC1F3B-EF3E-461E-8AAB-857846F67FA4">Дряново</option>
                <option value="65078407-8AE3-4872-A807-CE3484306A99">Варна</option>
            </select>
            <span class="small text-danger"></span>
        </div>
        <div class="form-group" style="padding-bottom: 20px;">
            <label>Кръвна група</label>
            <select class="form-control">
                <option value="1">A+</option>
                <option value="2">A-</option>
                <option value="3">B+</option>
                <option value="4">B-</option>
                <option value="5">AB+</option>
                <option value="6">AB-</option>
                <option value="7">0+</option>
                <option value="8">0-</option>
            </select>
            <span class="small text-danger"></span>
        </div>
    </div>
</div>